:root{
    --grColor:#e9e7e7;
    --Radius:10px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    padding: 20px 2%;
    position: relative;
    display: flex;
    gap:20px;
}
body{
    overflow:hidden scroll ;
    height: 150vh;
}
.nav{
    top: 5px;
    position: sticky;
    margin: 0 auto;
    width: 96%;
    height: 50px;
    text-align: center;
    background-color:var(--grColor) ;
    border-radius: 10px 10px 0 0;
    z-index: 5;
}
.aside{
    overflow: hidden scroll;
    border-radius: var(--Radius);
    height: 90vh;
    background-color: var(--grColor);
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    text-align: center;
    justify-content: space-between;
}
.aside div{
    border-radius: var(--Radius);
    height: 100px;
    background-color: #fff;
    width: 100%;
}
.aside button{
    height: 0;
    background: none;
    width: 100%;
    border: none;
    border-bottom:2px solid #ccc;
}
.aside div:nth-child(3){
    width: 20%;
}
.aside div:nth-child(4){
    width: 78%;
}
#document{
    overflow: hidden scroll;
    border-radius: var(--Radius);
    width: 80%;
    height: 90vh;
    background: var(--grColor);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
}
.element{
    width: 100%;
    height: 150px;
    background-color: white;
    border-radius: 5px;
}
.togle{
    box-shadow:  0 0 10px 10px #ccc;
}
.side-panel{
    transition: display 0.5s linear infinite;
    position: fixed;
    border-radius: 30px;
    width: 22%;
    height: 90vh;
    background-color: teal;
}
.non-active{
    display: none;
}